* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(145deg, #3d04cf, #fffffffd);
  color: #fff;
  position: relative;
}

.navbar {
  width: 90%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 80px;
  position: relative;
  z-index: 2;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 5px 2px;
  position: relative;
  z-index: 2;
}
nav ul li a:hover {
  color: #e7c82f;
}

/* row */

.row {
  width: 80%;
  min-height: 85vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.col {
  margin: 20px 0;
  flex-basis: 50%;
  min-width: 300px;
  height: 100%;
  position: relative;
}
.text-box {
  max-width: 400px;
  margin-top: 100px;
}
.text-box h5 {
  color: #e7c82f;
  position: relative;
  z-index: 2;
}
.text-box h1 {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 65px;
  position: relative;
  z-index: 2;
}
.gallery-box {
  max-width: 400px;
  position: relative;
  margin: auto;
}
.gallery-box img {
  width: 100%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}
.gallery-box ul {
  position: absolute;
  right: -100px;
  top: 31%;
  transform: (translateY(-50%));
  z-index: 2;
}
.gallery-box ul li {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  padding: 0 30px;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}
.gallery-box .active {
  color: #e7c82f;
}
.gallery-box ul li::after {
  content: "";
  width: 30px;
  height: 2px;
  background: transparent;
  position: absolute;
  top: 8px;
  left: -5px;
}
.gallery-box .active::after {
  background: #e7c82f;
}

.small-icon1 {
  width: 15px;
  position: absolute;
  right: 200px;
  top: -10px;
  opacity: 0.8;
}
.small-icon2 {
  width: 25px;
  position: absolute;
  right: 200px;
  bottom: -100px;
  opacity: 0.9;
}
.small-icon3 {
  width: 25px;
  position: absolute;
  right: 50px;
  top: 200px;
  opacity: 0.9;
  transform: rotate(45deg);
}
.small-icon4 {
  width: 250px;
  position: absolute;
  top: 120px;
  left: -150px;
  opacity: 0.9;
}
.small-icon5 {
  width: 25px;
  position: absolute;
  bottom: 60px;
  left: 50px;
  opacity: 0.9;
}

/*------------- cursor style  --------------*/

body {
  /* cursor: url(image/square.png),auto; */
  cursor: grab;

}
#cursor {
  height: 50px;
  width: 50px;
  background: #e7c82f;
  border-radius: 50%;
  position: absolute;
  display: none;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
div:hover ~ #cursor {
  transform: scale(0.5);
}
